.form {
  display: flex;
  flex-direction: column;
}

.field {
  width: 100%;
  height: 35px;
  margin: 5px auto;
  background: unset;
  border: 1px solid rgba(0, 0, 0, 0.897);
  border-radius: 5px;
  color: #000000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.field:focus {
  outline-offset: unset;
  outline: unset;
}

.userButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.addButton {
  width: 40%;
  height: 35px;
  /*margin: auto;
  */
  background: unset;
  border: 1px solid green;
  color: green;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
}


.logButton:hover {
  background: green;
  color: white;
}

.tabLink {
  text-decoration: none;
  color: white;
  margin-top: 5px;
  transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
}

.tabLink:hover {
  color: #ef7b2ebd;
}

.error_msg {
  display: flex;
  color: rgb(237, 67, 55);
}